<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441414281486-mlfiqe881fjt1vvr6hr0gr1bpmnrdjac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441414281486-mlfiqe881fjt1vvr6hr0gr1bpmnrdjac</string>
	<key>API_KEY</key>
	<string>AIzaSyAU3rpcZHM4rJXOCSUwOTkOt1qfWiv18Dc</string>
	<key>GCM_SENDER_ID</key>
	<string>441414281486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dao.dao</string>
	<key>PROJECT_ID</key>
	<string>daoapp-2c1af</string>
	<key>STORAGE_BUCKET</key>
	<string>daoapp-2c1af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441414281486:ios:ad8344f300e8f5606b8f5f</string>
</dict>
</plist>